$blue: #496bff;

.btn{
  display: inline-block;
  background-color: #fff;
  border: 1px solid $blue;
  color: $blue;
  padding: 0.5em 0.75em;
  font-size: 12px;
  border-radius: 999px;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.1s linear;
  outline: none;

  &.primary{
    background-color: $blue;
    color: #fff;
  }

  &:hover{
    background-color: darken($blue, 5%);
    border-color: darken($blue, 5%);
    color: #fff;
  }
  
  &:active{
    background-color: darken($blue, 10%);
    border-color: darken($blue, 10%);
    color: #fff;
  }
}

.table{
  display: flex;
  overflow: hidden;
  flex-direction: column;
  height: 100%;
  font-size: 12px;
  text-align: center;
  border-radius: 5px;
  -webkit-font-smoothing: antialiased;
  
  table{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
  }

  .header{
    background-color: #333;
    color: #eee;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }

  .body{
    overflow: auto;
    overflow: overlay;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

    tr{
      background-color: #fff;

      &:nth-child(2n){
        background-color: #f1f1f1;
      }
    }
  }

  tr{
    height: 50px;
  }
}

.modal{
  z-index: 1000;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgba(#000, 0.5);
  overflow-x: hidden;

  .modalCard{
    margin: auto;
    background-color: #fff;
    padding: 1em;
    border-radius: 8px;
  }
}

form, fieldset{
  margin: 0;
  padding: 0;
  border: none;

  input:not(.btn):not([type=checkbox]){
    display: block;
    font-size: 15px;
    padding: 0.5em 0.75em;
    width: 30em;
    border-radius: 8px;
    border: 1px solid #cfcfcf;
    background-color: #fff;
    outline: none;

    & + *{
      margin-top: 0.5rem;
    }
  }

  .checkboxContainer{
    display: flex;

    .checkbox{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 25px;
      height: 25px;
      border: 1px solid #cfcfcf;
      border-radius: 8px;
    }

    input[type=checkbox]{
      position: fixed;
      pointer-events: none;
      z-index: -1000;
      left: -500%;
      top: -500%;
      opacity: 0;

      &:checked + .checkbox:before{
        content: '✓';
        display: inline-block;
        font-size: 20px;
      }
    }

    .label{
      margin-left: 0.5em;
    }

    & + *{
      margin-top: 0.5rem;
    }
  }

  .buttons{
    display: flex;
    justify-content: flex-end;
    
    .btn{
      font-size: 16px;

      & + .btn{
        margin-left: 0.2em;
      }
    }
  }
}